# Python bytecode
*.py[cod]
__pycache__/
*.so

# Django stuff
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.db

# Environment variables
.env
*.env

# Virtual environment
venv/
env/
ENV/
*.egg-info/
.eggs/

# Static and media files
/staticfiles/
/media/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn

# Testing
.coverage
*.cover
*.py,cover
.hypothesis/
.tox/
nosetests.xml
coverage.xml
*.pytest_cache/